/* html{
  overflow-x: hidden;
}

header {
  background-color: #15742A;
}

header .header-nav nav {
  box-shadow: rgb(170, 170, 170) 1px 1px 1px;
} */
:root{
  --primary-color: #15742A;
  --secondary-color: #E9F3E7;
  --white: #fff;
  --black: #000000;
}

html{
  overflow-x: hidden;
  /* padding-left: 20px; */
}

*{
  margin: 0;
  padding: 0; 
  box-sizing:inherit;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
/* 
section{
  padding-left: 65px;
  padding-right: 50px;
} */

span{
  color: var(--primary-color);
}

button{
  background-color: var(--primary-color);
  color: var(--white);
}

/* header */
header{
  background-color: #15742A;
}

.header-lang{
  width: 1280px;
  height: 40px;
}

.header-lang .row .language{
  color: var(--white);
  font-size: 13pt;
  line-height: 40px;
  /* padding: 5px; */
}

header .header-nav nav{
  box-shadow: 1px 1px 1px #AAA;;
  
}

header .header-nav a{
  font-size: 14pt;
  color: black;
  text-decoration: none;
  list-style-type: none;
  
}

header .header-nav .nav-item{
  padding-right: 65px;

}

header .header-nav .navbar a:hover{
  color: var(--primary-color);
}

/* main */
.backgroud {
  position: relative;
  width: 1750px;
  height: 500px;
  background-image: url(./img/rectangle-16.png);
  background-size: cover;
  background-position: 50% 50%;
}

.backgroud .overlap-group {
  position: relative;
  width: 1593px;
  height: 400px;
  top: 31px;
  left: 78px;
  background-color: #00000059;
}

.backgroud .text-wrapper {
  position: absolute;
  width: 390px;
  top: 138px;
  left: 601px;
  font-family: "Outfit-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 80px;
  letter-spacing: 0;
  line-height: normal;
}

.backgroud .div {
  position: absolute;
  width: 579px;
  height: 44px;
  top: 278px;
  left: 507px;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.profile {
  position: relative;
  width: 100%;
  height: 1252px;
  background-color: #ebf2ed;
}

.profile .founder-title {
  position: absolute;
  width: 1650px;
  top: 71px;
  left: 0;
  font-family: "Outfit-Medium", Helvetica;
  font-weight: 500;
  color: #257e39;
  font-size: 55px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.profile .infor {
  width: 1434px;
  top: 233px;
  left: 77px;
  position: absolute;
  height: 821px;
}

.profile .infor-wapper {
  width: 829px;
  top: 0;
  left: 605px;
  background-color: #ffffff;
  position: absolute;
  height: 821px;
}

.profile .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  position: absolute;
  width: 455px;
  height: 144px;
  top: 32px;
  left: 78px;
}

.profile .text {
  position: relative;
  align-self: stretch;
  font-size: 25px;
  line-height: 24px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
}

.profile .text-wrapper {
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 24px;
}

.profile .fouder-description {
  position: absolute;
  width: 644px;
  top: 242px;
  left: 78px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 28px;
}

.profile .fouder-picture {
  position: absolute;
  width: 585px;
  height: 821px;
  top: 0;
  left: 0;
  overflow: hidden;
}

.profile .avatar {
  position: absolute;
  /* width: 447px; */
  height: 482px;
  top: 0;
  left: 90px;
  object-fit: cover;
}

.profile .address {
  position: absolute;
  width: 425px;
  height: 175px;
  top: 646px;
  left: 119px;
}

.profile .div {
  position: absolute;
  width: 237px;
  height: 42px;
  top: 0;
  left: 75px;
  font-size: 20px;
  line-height: 25px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
}

.profile .text-wrapper-2 {
  position: absolute;
  width: 267px;
  top: 66px;
  left: 75px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 19px;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.profile .phone-solid {
  position: absolute;
  width: 41px;
  height: 39px;
  top: 0;
  left: 14px;
}

.profile .vector {
  height: 36px;
  top: 61px;
  left: 2px;
  position: absolute;
  width: 36px;
}

.profile .img {
  height: 56px;
  top: 119px;
  left: 0;
  position: absolute;
  width: 36px;
}

.profile .p {
  position: absolute;
  width: 348px;
  top: 132px;
  left: 71px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.profile .fouder-name {
  position: absolute;
  width: 497px;
  height: 37px;
  top: 573px;
  left: 90px;
}

.profile .text-wrapper-3 {
  position: absolute;
  width: 495px;
  top: 0;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 24px;
}
.volunteers {
  position: relative;
  width: 1650px;
  height: 1500px;
}

.volunteers .volunteer-title {
  position: absolute;
  /* width: 1377px; */
  top: 71px;
  left: 146px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #147429ed;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.volunteers .volunteer-wapper {
  position: absolute;
  width: 1526px;
  height: 1697px;
  /* top: 152px; */
  left: 61px;
}

.volunteers .volunteer-infor {
  position: absolute;
  width: 403px;
  height: 680px;
  top: 79px;
  left: 75px;
}

.volunteers .avatar {
  position: absolute;
  /* width: 403px; */
  height: 300px;
  top: 120px;
  left: 55px;
  object-fit: cover;
}

.volunteers .description {
  left: 84px;
  position: absolute;
  width: 271px;
  height: 199px;
  top: 481px;
}

.volunteers .text-wrapper {
  position: absolute;
  width: 234px;
  top: 0;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.volunteers .global-HR-manager {
  position: absolute;
  width: 266px;
  top: 68px;
  left: 1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.volunteers .span {
  color: #000000;
}

.volunteers .text-wrapper-2 {
  color: #147429ed;
  text-decoration: underline;
}

.volunteers .div {
  top: 750px;
  left: 85px;
  position: absolute;
  width: 403px;
  height: 680px;
}

.volunteers .volunteer-infor-2 {
  top: 79px;
  left: 578px;
  position: absolute;
  width: 403px;
  height: 680px;
}

.volunteers .description-2 {
  left: 67px;
  position: absolute;
  width: 271px;
  height: 199px;
  top: 481px;
}

.volunteers .volunteer-infor-3 {
  top: 750px;
  left: 588px;
  position: absolute;
  width: 403px;
  height: 680px;
}

.volunteers .volunteer-infor-4 {
  top: 79px;
  left: 1059px;
  position: absolute;
  width: 403px;
  height: 680px;
}

.volunteers .description-3 {
  left: 81px;
  position: absolute;
  width: 271px;
  height: 199px;
  top: 481px;
}

.volunteers .volunteer-infor-5 {
  top: 750px;
  left: 1070px;
  position: absolute;
  width: 403px;
  height: 680px;
}
.sponsors {
  position: relative;
  width: 1738px;
  height: 1849px;
}

.sponsors .sponsors-title {
  position: absolute;
  width: 1369px;
  top: 71px;
  left: 154px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #257e39;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.sponsors .sponser {
  position: absolute;
  width: 424px;
  height: 680px;
  top: 231px;
  left: 143px;
}

.sponsors .ellipse {
  position: absolute;
  /* width: 424px; */
  height: 300px;
  top: 120px;
  left: 55px;
  object-fit: cover;
}

.sponsors .sponser-description {
  position: absolute;
  width: 285px;
  height: 199px;
  top: 481px;
  left: 88px;
}

.sponsors .text-wrapper {
  position: absolute;
  width: 247px;
  top: 0;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.sponsors .global-HR-manager {
  position: absolute;
  width: 280px;
  top: 68px;
  left: 1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.sponsors .span {
  color: #000000;
}

.sponsors .text-wrapper-2 {
  color: #147429ed;
  text-decoration: underline;
}

.sponsors .div {
  position: absolute;
  width: 424px;
  height: 680px;
  top: 1090px;
  left: 154px;
}

.sponsors .sponser-2 {
  position: absolute;
  width: 424px;
  height: 680px;
  top: 231px;
  left: 673px;
}

.sponsors .img {
  position: absolute;
  /* width: 424px; */
  height: 300px;
  top: 120px;
  left: 55px;
}

.sponsors .sponser-description-2 {
  left: 71px;
  position: absolute;
  width: 285px;
  height: 199px;
  top: 481px;
}

.sponsors .sponser-3 {
  position: absolute;
  width: 424px;
  height: 680px;
  top: 1090px;
  left: 684px;
}

.sponsors .sponser-4 {
  position: absolute;
  width: 424px;
  height: 680px;
  top: 231px;
  left: 1180px;
}

.sponsors .sponser-description-3 {
  left: 85px;
  position: absolute;
  width: 285px;
  height: 199px;
  top: 481px;
}

.sponsors .sponser-5 {
  position: absolute;
  width: 424px;
  height: 680px;
  top: 1090px;
  left: 1191px;
}
.footer {
  position: relative;
  width: 1650px;
  height: 400px;
  background-color: #f5f5f5;
  overflow: hidden;
}

.footer .overlap {
  position: absolute;
  width: 576px;
  height: 148px;
  top: 58px;
  left: 109px;
}

.footer .rectangle {
  position: absolute;
  width: 113px;
  height: 113px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.footer .text-wrapper {
  position: absolute;
  width: 341px;
  top: 2px;
  left: 112px;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #1d1d1d;
  font-size: 39.7px;
  letter-spacing: 0;
  line-height: normal;
}

.footer .porttitor-eget-dolor {
  position: absolute;
  width: 464px;
  top: 64px;
  left: 112px;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #6f7775;
  font-size: 26.5px;
  letter-spacing: 0;
  line-height: 39.7px;
}

.footer .social-media {
  position: absolute;
  width: 226px;
  height: 26px;
  top: 301px;
  left: 220px;
}

.footer .overlap-group {
  position: absolute;
  width: 470px;
  height: 316px;
  top: 23px;
  left: 726px;
}

.footer .menu {
  width: 243px;
  height: 313px;
  top: 2px;
  position: absolute;
  left: 0;
}

.footer .div {
  width: 134px;
  top: 0;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #1d1d1d;
  font-size: 33.1px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  left: 0;
}

.footer .text-wrapper-2 {
  position: absolute;
  width: 220px;
  top: 57px;
  left: 0;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #6f7775;
  font-size: 26.5px;
  letter-spacing: 0;
  line-height: normal;
}

.footer .text-wrapper-3 {
  position: absolute;
  width: 187px;
  top: 113px;
  left: 0;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #6f7775;
  font-size: 26.5px;
  letter-spacing: 0;
  line-height: normal;
}

.footer .text-wrapper-4 {
  position: absolute;
  width: 231px;
  top: 169px;
  left: 0;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #6f7775;
  font-size: 26.5px;
  letter-spacing: 0;
  line-height: normal;
}

.footer .text-wrapper-5 {
  position: absolute;
  width: 205px;
  top: 228px;
  left: 0;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #6f7775;
  font-size: 26.5px;
  letter-spacing: 0;
  line-height: normal;
}

.footer .text-wrapper-6 {
  position: absolute;
  width: 187px;
  top: 281px;
  left: 0;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #6f7775;
  font-size: 26.5px;
  letter-spacing: 0;
  line-height: normal;
}

.footer .about-us {
  position: absolute;
  width: 239px;
  height: 253px;
  top: 0;
  left: 231px;
}

.footer .text-wrapper-7 {
  position: absolute;
  width: 179px;
  top: 0;
  left: 0;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #1d1d1d;
  font-size: 33.1px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.footer .text-wrapper-8 {
  position: absolute;
  width: 229px;
  top: 52px;
  left: 0;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #6f7775;
  font-size: 26.5px;
  letter-spacing: 0;
  line-height: normal;
}

.footer .text-wrapper-9 {
  position: absolute;
  width: 189px;
  top: 105px;
  left: 0;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #6f7775;
  font-size: 26.5px;
  letter-spacing: 0;
  line-height: normal;
}

.footer .text-wrapper-10 {
  position: absolute;
  width: 80px;
  top: 164px;
  left: 0;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #6f7775;
  font-size: 26.5px;
  letter-spacing: 0;
  line-height: normal;
}

.footer .text-wrapper-11 {
  position: absolute;
  width: 82px;
  top: 221px;
  left: 0;
  font-family: "Outfit-Regular", Helvetica;
  font-weight: 400;
  color: #6f7775;
  font-size: 26.5px;
  letter-spacing: 0;
  line-height: normal;
}

.footer .contact {
  position: absolute;
  width: 365px;
  height: 292px;
  top: 27px;
  left: 1198px;
}

.footer .text-wrapper-12 {
  position: absolute;
  width: 311px;
  top: 0;
  left: 0;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 600;
  color: #1d1d1d;
  font-size: 33.1px;
  letter-spacing: 0;
  line-height: 34.4px;
}

.footer .phone {
  position: absolute;
  width: 313px;
  height: 77px;
  top: 58px;
  left: 0;
}

.footer .call-us {
  position: absolute;
  width: 229px;
  top: 6px;
  left: 82px;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 26.5px;
  letter-spacing: 0;
  line-height: 26.5px;
}

.footer .span {
  font-weight: 600;
  color: #1d1d1d;
}

.footer .text-wrapper-13 {
  font-size: 21.2px;
  font-family: "Outfit-Regular", Helvetica;
  color: #6f7775;
}

.footer .overlap-group-wrapper {
  position: absolute;
  width: 57px;
  height: 61px;
  top: 0;
  left: 0;
}

.footer .img-wrapper {
  position: relative;
  width: 59px;
  height: 63px;
  top: -1px;
  left: -1px;
  background-color: #15742acf;
  border-radius: 29.62px/31.36px;
}

.footer .img {
  position: absolute;
  width: 24px;
  height: 25px;
  top: 19px;
  left: 18px;
}

.footer .email {
  width: 343px;
  height: 68px;
  top: 141px;
  position: absolute;
  left: 0;
}

.footer .mail-us {
  position: absolute;
  width: 258px;
  top: 5px;
  left: 82px;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 26.5px;
  letter-spacing: 0;
  line-height: 26.5px;
}

.footer .text-wrapper-14 {
  font-size: 21.2px;
  text-decoration: underline;
  font-family: "Outfit-Regular", Helvetica;
  color: #6f7775;
}

.footer .location {
  position: absolute;
  width: 365px;
  height: 62px;
  top: 230px;
  left: 0;
}

.footer .location-dot {
  position: absolute;
  width: 18px;
  height: 25px;
  top: 19px;
  left: 21px;
}

.footer .visit-us-th-n-p-ong {
  position: absolute;
  width: 281px;
  top: 8px;
  left: 82px;
  font-family: "Outfit-SemiBold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 26.5px;
  letter-spacing: 0;
  line-height: 30.5px;
}

.footer .text-wrapper-15 {
  font-size: 18px;
  font-family: "Outfit-Regular", Helvetica;
  color: #6f7775;
}

.footer .rectangle-2 {
  position: absolute;
  width: 1650px;
  height: 50px;
  top: 372px;
  left: -6px;
  background-color: #3f8c50;
}


/* .introduce-system{
  display: flex;
  flex-direction: column;
} */

.wrap-introduce{
  display: flex;
  
}

.introcue-infor {
  position: relative;
  width: 1639px;
  height: 614px;
}

.introcue-infor .introduce {
  position: absolute;
  width: 574px;
  height: 462px;
  top: 85px;
  left: 875px;
}

.introcue-infor .frame {
  position: absolute;
  width: 597px;
  height: 437px;
  top: 85px;
  left: 150px;
  background-image: url(./img/frame-1097.png);
  background-size: cover;
  background-position: 50% 50%;
}
